.bg {
    background: var(--ion-primary-color);
    text-align: center;
    height: 100%;

    img {
        padding: 30px;
        height: 50vh;
        width: 100%;
    }

    .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 20px;
        padding: 30px 60px;
        border-radius: 47px 47px 0 0;
        background-color: #fff;
        box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);

        form {
            text-align: center;
        }
    }
}
