<ion-content>
    <div class="bg">
        <img *ngIf="isSuccess" src="../../assets/images/success.svg" />
        <img *ngIf="!isSuccess" src="../../assets/images/failure.svg" />

        <div class="content">
            <p *ngIf="isSuccess"><strong>SUCCESS</strong></p>
            <p *ngIf="isSuccess">{{successMessage}}</p>
            <p *ngIf="!isSuccess"><strong>FAILED</strong></p>
            <p *ngIf="!isSuccess">Your booking is failed, No seats are available.</p>
            <br />
            <form (ngSubmit)="back()">
                <button class="button primary">BACK</button>
            </form>
        </div>
    </div>
</ion-content>