.bg-primary {
  background: var(--ion-primary-color);
  height: 100%;

  .header {
    padding: 30px 30px 0px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .bg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logout-icon {
  position: absolute;
  right: 20px;
  top: 20px;
}

.content {
  // position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 50px;
  border-radius: 47px 47px 0 0;
  background: #fff;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
  overflow: scroll;

  // .question {
  //   display: inline-block;
  //   width: 60vw;
  // }
}

div[scrollx="true"] {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  span {
    margin-right: 10px;
    padding: 10px;

    &.active {
      color: var(--ion-primary-color);
      // padding: 10px 16px;
      // color: #fff;
      // border-radius: 50%;
      // background: var(--ion-primary-color);
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
  .scroll-item {
    flex: 0 0 auto;
  }
}

.checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;

  label {
    display: block;
    position: relative;
  }
}
