<ion-content>
  <div class="bg-primary">
    <img class="logout-icon" (click)="logout()" src="../../assets/images/logout.svg" />

    <div class="header">
      <img class="logo" src="../../assets/images/logo-white.png" />
    </div>

    <div class="bg">
      <img src="../../assets/images/home-bg.svg" />
    </div>

    <div class="content">
      <form>
        <label>
          <span>CITY</span>
          <ion-select name="city" [(ngModel)]="selected.city" placeholder="CITY" (ionChange)="onCitySelected()">
            <ion-select-option *ngFor="let city of cities" [value]="city.city">{{city.city}}</ion-select-option>
          </ion-select>
        </label>

        <label>
          <span>FACILTY</span>
          <ion-select name="facility" [(ngModel)]="selected.facility" placeholder="FACILITY"
            (ionChange)="onFacilitySelected()">
            <ion-select-option *ngFor="let facility of facilities" [value]="facility.facility">{{facility.facility}}
            </ion-select-option>
          </ion-select>
        </label>

        <!-- <label>
          <span>DATE</span>
          <ion-datetime name="date" [(ngModel)]="selected.date" placeholder="Date" display-timezone="utc">
          </ion-datetime>
        </label> -->

        <label>
          <span>FLOOR</span>
          <div class="scroll" scrollX="true">
            <span [ngClass]="{'active': selected.floor === floor.idea_floor}" (click)="onFloorSelected(floor.idea_floor)"
              *ngFor="let floor of floors">{{floor.idea_floor}}</span>
          </div>
          <p *ngIf="floors.length <= 0">Select city and facility to display floors</p>
        </label>

        <div class="checkbox">
          <label class="container">
            <input name="today" type="checkbox" [(ngModel)]="selected.checkbox.today">
            <span class="checkmark"></span>
            <span class="heading">TODAY</span>
          </label>

          <label class="container">
            <input name="tomorrow" type="checkbox" [(ngModel)]="selected.checkbox.tomorrow">
            <span class="checkmark"></span>
            <span class="heading">TOMORROW</span>
          </label>
        </div>

        <br />
        <br />
        <button btnClickDebounce (dbClick)="book()"  class="button primary">Book</button>
      </form>
    </div>
  </div>
</ion-content>