<ion-content>
  <div class="bg-primary">
    <div class="header">
      <img style="display: none;" src="../../assets/images/menu.svg" />
      <div>
        <img class="logo" src="../../assets/images/logo-white.png" />
      </div>
      <div style="display: flex;justify-content: flex-end;margin-bottom: 20px;">
        <img (click)="logout()" src="../../assets/images/logout.svg" />
      </div>
    </div>

    <div class="bg"></div>

    <div class="content">
      <form (ngSubmit)="book()">
        <label>
          <span>CITY</span>
          <input class="text" type="text" placeholder="City" />
        </label>

        <label>
          <span>FACILTY</span>
          <input class="text" type="text" placeholder="Facility" />
        </label>

        <label>
          <span>DATE</span>
          <ion-datetime placeholder="Date" display-timezone="utc"></ion-datetime>
        </label>

        <label>
          <span>FLOOR</span>
          <ul class="floor">
            <li>1</li>
            <li class="active">2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>
        </label>

        <br />
        <br />
        <button class="button primary">Book</button>
      </form>
    </div>
  </div>
</ion-content>